# 시각화

In [302]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set() # setting seaborn default for plots

def bar_chart(feature):
    yes = train[train['voted']==1][feature].value_counts()
    no = train[train['voted']==2][feature].value_counts()
    df = pd.DataFrame([yes,no])
    df.index = ['Yes','No']
    df.plot(kind='bar',stacked=True, figsize=(10,5))

In [303]:
import pandas as pd

train=pd.read_csv('./train.csv')
test=pd.read_csv('./test_x.csv')

# 데이터 전처리

In [304]:
import numpy as np
train['trust']=1
test['trust']=1
family_drop_score=10

train['trust']=np.where(train['familysize'] >= family_drop_score, 0, train['trust'])
test['trust']=np.where(test['familysize'] >= family_drop_score, 0, test['trust'])

# 원핫 인코딩 (gender, race, religion)

In [305]:
train=pd.get_dummies(train, columns=['race'])
train=pd.get_dummies(train, columns=['religion'])
train=pd.get_dummies(train, columns=['gender'])
test=pd.get_dummies(test, columns=['race'])
test=pd.get_dummies(test, columns=['religion'])
test=pd.get_dummies(test, columns=['gender'])

# Feature : Mach_score (마키아벨리니즘 스코어)

In [306]:
Answers = ['QaA', 'QbA', 'QcA', 'QdA', 'QeA',
             'QfA', 'QgA', 'QhA', 'QiA', 'QjA', 
             'QkA', 'QlA', 'QmA', 'QnA', 'QoA', 
             'QpA', 'QqA', 'QrA', 'QsA', 'QtA']

In [307]:
reverse = ["QeA", "QfA", "QkA", "QqA", "QrA"]
for r in reverse: 
        train[r] = 6 - train[r]
        test[r] = 6 - test[r]

In [308]:
reverse = ["QaA", "QdA", "QgA", "QiA", "QnA"]
for r in reverse: 
        train[r] = 6 - train[r]
        test[r] = 6 - test[r]

In [309]:
train['Mach_score'] = train[Answers].mean(axis = 1)
test['Mach_score'] = test[Answers].mean(axis = 1)

# Feature : tp0106, tp0207, tp0308, tp0409, tp0510 (관련있는 tp 끼리 묶음)

In [310]:
Tp = ['tp01', 'tp02', 'tp03', 'tp04', 'tp05',
             'tp06', 'tp07', 'tp08', 'tp09', 'tp10']

In [311]:
reverse = ["tp06", "tp07", "tp08", "tp09", "tp10"]
for r in reverse: 
        train[r] = 7 - train[r]
        test[r] = 7 - test[r]
        
tp0106=['tp01', 'tp06']
tp0207=['tp02', 'tp07']
tp0308=['tp03', 'tp08']
tp0409=['tp04', 'tp09']
tp0510=['tp05', 'tp10']
train['tp0106'] = train[tp0106].sum(axis = 1)
train['tp0207'] = train[tp0207].sum(axis = 1)
train['tp0308'] = train[tp0308].sum(axis = 1)
train['tp0409'] = train[tp0409].sum(axis = 1)
train['tp0510'] = train[tp0510].sum(axis = 1)
temp=['tp0106', 'tp0207', 'tp0308','tp0409', 'tp0510']

test['tp0106'] = test[tp0106].sum(axis = 1)
test['tp0207'] = test[tp0207].sum(axis = 1)
test['tp0308'] = test[tp0308].sum(axis = 1)
test['tp0409'] = test[tp0409].sum(axis = 1)
test['tp0510'] = test[tp0510].sum(axis = 1)
train[temp].corr()

          tp0106    tp0207    tp0308    tp0409    tp0510
tp0106  1.000000 -0.074353  0.046224 -0.089011  0.233300
tp0207 -0.074353  1.000000 -0.099263  0.078964 -0.089960
tp0308  0.046224 -0.099263  1.000000 -0.287484  0.039089
tp0409 -0.089011  0.078964 -0.287484  1.000000 -0.102691
tp0510  0.233300 -0.089960  0.039089 -0.102691  1.000000

In [312]:
train['tp0106'].describe()

count    45532.000000
mean         7.545023
std          3.509913
min          0.000000
25%          5.000000
50%          8.000000
75%         11.000000
max         14.000000
Name: tp0106, dtype: float64

In [313]:
tp_drop_score=11

train['trust']=np.where(train['tp0106'] >= tp_drop_score, 0, train['trust'])
train['trust']=np.where(train['tp0207'] >= tp_drop_score, 0, train['trust'])
train['trust']=np.where(train['tp0308'] >= tp_drop_score, 0, train['trust'])
train['trust']=np.where(train['tp0409'] >= tp_drop_score, 0, train['trust'])
train['trust']=np.where(train['tp0510'] >= tp_drop_score, 0, train['trust'])

test['trust']=np.where(test['tp0106'] >= tp_drop_score, 0, test['trust'])
test['trust']=np.where(test['tp0207'] >= tp_drop_score, 0, test['trust'])
test['trust']=np.where(test['tp0308'] >= tp_drop_score, 0, test['trust'])
test['trust']=np.where(test['tp0409'] >= tp_drop_score, 0, test['trust'])
test['trust']=np.where(test['tp0510'] >= tp_drop_score, 0, test['trust'])

train['trust']=np.where(train['education'] == 0, 0, train['trust'])
train['education']=np.where(train['education'] == 0, 2, train['education'])
test['trust']=np.where(test['education'] == 0, 0, test['trust'])
test['education']=np.where(test['education'] == 0, 2, test['education'])

In [314]:
train['education'].value_counts()

2    17363
3    15227
4     7854
1     5088
Name: education, dtype: int64

In [315]:
train['urban']=train['urban'].astype('str')
test['urban']=test['urban'].astype('str')

train['education']=train['education'].astype('str')
test['education']=test['education'].astype('str')

In [316]:
train=pd.get_dummies(train, columns=['urban'])
train=pd.get_dummies(train, columns=['education'])
train=pd.get_dummies(train, columns=['age_group'])

test=pd.get_dummies(test, columns=['urban'])
test=pd.get_dummies(test, columns=['education'])
test=pd.get_dummies(test, columns=['age_group'])

# wf_(1~3) : 설문자의 어휘 능력 (허구인 단어의 정의를 앎)

In [317]:
wf=['wf_01', 'wf_02', 'wf_03']

train['wf']=train[wf].mean(axis=1)
train['trust']= np.where(train['wf'] >= 0.0, 0, train['trust'])

test['wf']=test[wf].mean(axis=1)
test['trust']= np.where(test['wf'] >= 0.0, 0, test['trust'])

# Feature : Word_score (설문자의 어휘 능력 스코어)

In [318]:
# Word=['wr', 'wf']
# train['Word_score']=train[Word].mean(axis=1)
# train['Word_score']= np.where(train['Word_score'] == 1.0, 1, 0)

# test['Word_score']=test[Word].mean(axis=1)
# test['Word_score']= np.where(test['Word_score'] == 1.0, 1, 0)

# 나머지 feature들 drop

In [319]:
left_feature=['QaA', 'QbA', 'QcA', 'QdA', 'QeA','QfA', 'QgA', 'QhA', 'QiA', 'QjA', 'QkA', 'QlA', 'QmA', 'QnA', 'QoA','QpA', 
              'QqA', 'QrA', 'QsA', 'QtA','QaE', 'QbE', 'QcE', 'QdE', 'QeE', 'QfE', 'QgE', 'QhE', 'QiE', 'QjE', 'QkE', 'QlE',
              'tp0106', 'tp0207', 'tp0308','tp0409', 'tp0510','familysize',
              'QmE', 'QnE', 'QoE', 'QpE', 'QqE', 'QrE', 'QsE', 'QtE','engnat','tp01', 'tp02', 'tp03', 'tp04', 'tp05','tp06',
              'tp07', 'tp08', 'tp09', 'tp10','gender_Male', 'gender_Female','hand','race_Arab', 'race_Asian','race_Black','married',
              'race_Indigenous Australian','race_Native American','race_Other','race_White','religion_Agnostic','religion_Atheist', 
              'religion_Buddhist','religion_Christian_Catholic','religion_Christian_Mormon', 'religion_Christian_Other', 
              'religion_Christian_Protestant', 'religion_Hindu','religion_Jewish','religion_Muslim', 'religion_Other','religion_Sikh',
              'wr_01', 'wr_02', 'wr_03', 'wr_04', 'wr_05', 'wr_06', 'wr_07', 'wr_08', 'wr_09', 'wf_01', 'wf_02', 'wf_03','wr_10', 
              'wr_11', 'wr_12', 'wr_13', 'wf']

train = train.drop(left_feature, axis = 1)
test = test.drop(left_feature, axis = 1)

# Model 생성

In [320]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [321]:
train = train.drop('index', axis = 1)
test = test.drop('index', axis = 1)

# 사용한 feature 목록

In [322]:
for i in train:
    print(i)

voted
trust
Mach_score
urban_0
urban_1
urban_2
urban_3
education_1
education_2
education_3
education_4
age_group_+70s
age_group_10s
age_group_20s
age_group_30s
age_group_40s
age_group_50s
age_group_60s

# Auto ML

In [323]:
from pycaret.classification import *
clf = setup(data = train, target = 'voted')

# 모델 학습 및 비교 (Train models and compare)

In [324]:
best_3 = compare_models(sort = 'AUC', n_select = 3)

# 모델 앙상블 (Model Ensemble)

In [325]:
blended = blend_models(estimator_list = best_3, fold = 5, method = 'soft')

# 모델 예측 (Prediction)

In [326]:
pred_holdout = predict_model(blended)

# 전체 데이터에 대한 재학습 (Re-training the model on whole data)

In [327]:
final_model = finalize_model(blended)

In [328]:
pred_holdout = predict_model(final_model)

# 대회용 test set에 대한 예측 (Predicting on test set for the competition)

In [329]:
print("train :",train.shape)
print("test :",test.shape)

train : (45532, 18)
test : (11383, 17)

In [330]:
predictions = predict_model(final_model, data = test)
predictions

,Mach_score,urban_0,urban_1,urban_2,urban_3,education_1,education_2,education_3,education_4,age_group_+70s,age_group_10s,age_group_20s,age_group_30s,age_group_40s,age_group_50s,age_group_60s,Label,Score
0,2.45,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2,0.7733
1,2.80,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2,0.8160
2,3.55,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0.6434
3,3.35,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0.7710
4,2.90,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2,0.7803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11378,3.20,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0.6134
11379,4.55,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2,0.7997
11380,3.15,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0.6492
11381,3.05,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0.5967
11382,3.40,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0.5241

In [331]:
submission= pd.read_csv('./sample_submission.csv')

In [332]:
submission['voted'] = predictions['Score']

In [333]:
submission.to_csv('submission_proba.csv', index = False)

In [334]:
submission['voted'].describe()

count    11383.000000
mean         0.679017
std          0.131000
min          0.500100
25%          0.585100
50%          0.644600
75%          0.780700
max          0.961500
Name: voted, dtype: float64

In [335]:
submission['V']= np.where(submission['voted'] >= 0.699674, 1, 0)

In [336]:
submission['V']

0        1
1        1
2        0
3        1
4        1
        ..
11378    0
11379    1
11380    0
11381    0
11382    0
Name: V, Length: 11383, dtype: int32

In [337]:
submission['V'].value_counts()

0    7063
1    4320
Name: V, dtype: int64